<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoLibro</servlet-name>
        <servlet-class>servlets.ServletListadoLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarLibro</servlet-name>
        <servlet-class>servlets.ServletAgregarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarritoCompra</servlet-name>
        <servlet-class>servlets.ServletCarritoCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoTema</servlet-name>
        <servlet-class>servlets.ServletListadoTema</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoLibro</servlet-name>
        <url-pattern>/ServletListadoLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarLibro</servlet-name>
        <url-pattern>/ServletAgregarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarritoCompra</servlet-name>
        <url-pattern>/ServletCarritoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoTema</servlet-name>
        <url-pattern>/ServletListadoTema</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
